
.carUsel {
    width: 100%;
    max-width: 100%;
}

.rightSec {
    margin-left: 222px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 20px;
    column-gap: 31px;
}

.leftSec {
    font-family: Roboto;
    font-style: normal;
    margin-left: -10px;
    font-weight: 300;
    line-height: normal;
    font-size: 20px;
    column-gap: 31px;
}

.btnfirst {
    position: relative;
    width: 340px;
    height: 60px;
    left: 550px;
    top: 550px;
    border: 2px solid;
    border-radius: 10px;
    margin: auto 0;
}

.Button1 {
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-top: 50px;
    width: 340px;
    height: 60px;
    color: #4CE894;
    color: #906775;
    font-family: Roboto;
    letter-spacing: 0.2em;
}

strong {}

.Button1:hover {
    cursor: pointer;
    font-size: 25px;
    animation-duration: 5s;
}

.points {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  Producrs*/

.products{
  margin-top: 85px;
}
.col-3{
  outline: 1px solid #ff4900;
}

.product-img{
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-ttl, .price, .presence{
  font-weight: normal;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.presence{
  color: #04cf00;
}

/*  MAIN CONTENT */

.mainContent{
  margin-top: 96px;
}
.rectangles1, .rectangles2, .rectangles3, .rectangles4{
  width: 560px;
  height: 313px;
  background: #c4c4c4;
  max-width: 560px;
  
}
.rectangles3, .rectangles4{
  margin-top: 20px;
}
footer{
    margin-top: 50px;
}
.carusel{
    margin-top: 10px;
}